html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")
		link(rel='stylesheet', href="../less/css/style.css")
	body
	#wrapper

		header#header
			div.global
				ul
					li hoge
					li hoge
				div.hlog testes

			div.container
				div.row
					div.logo.col-xs-3
						p
							img(src="")
					div.form.col-xs-9
						div.searchItrms
							div.inputGet
								form
									input(type="text")
									button.btn.btn-primary.btn-sm.btn_o(type="submit") btn
								div.acbyn
									button aaaa		



							div.actionBtn
								ul.list-unstyled.flex
									li lkink
									li lkink
									li lkink
								button info

		header#header
			div.container-fluid
				div.row
					div.col-xs-4
						p.bn fkhgsjfkgbnkf
					div.col-xs-8
						p fgrshghtf
		ul.breadcrumb
			li
				a 
					span.bred.glyphicon.glyphicon-menu-right home
			li.active cr


		div.main
			div.container
				ul.aaa.list-inline.row
					li.col-md-4.col-xs-12 fff
					li.col-md-4.col-xs-12 fff
					li.col-md-4.col-xs-12 fff
			div.flex
				div.l 

				div.t.visible-xs-block
					ul.list-unstyled
						li 1
						li 2
						li 3
				div.munu

		footer#footer


	script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
	script(src='/gdir/public/js/min/main.js')

	




